body {
    background-image: url(pictures/bg.JPG);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center ;
	padding: 20px;
    margin: 0px;
}
h1 {
    color: white;
	text-align: center;
	background-color:#2D551B;
	font-family: sans-serif;
	border: 2px blue dotted;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}
p {
	text-align: justified;
	background-color: hsl(107, 100%, 100%);
	font-style:italic;
	border: 3px black;
	border-style: dotted dashed solid double;
	padding: 20px;
}

span{
	font-style: italic;
	font-weight: bold;
	color: #60058D;
}
